<h2>Hi! Janice</h2>

<h3>At a Glance</h3>
<hr>
<h4>Active:  {{totalToMemorize}}</h4>

<h4>Memorized:  {{totalMemorized}}</h4>

<br>

<h3>Quick Add to Memorization List</h3>
<br>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Topic" ng-model="typeVerse.topic">
  </div>
  <input type="text" class="form-control" placeholder="Type in your Text..." ng-model="typeVerse.reference">

  <button type="submit" class="btn btn-default" ng-click="typeToMemArr(typeVerse)">Add</button>
</form>

<h3>Memorization Tips!</h3>
<div ng-model="list" ng-repeat="memoryTips in memoryTip">
{{memoryTips}}
</div>

<h3>Thought for the Day</h3>

{{quote}} - {{author}}
</div>
