<!-- this selects the verse -->
<!-- <select ng-model="versesGet" ng-options="verse.reference group by verse.topic for verse in verses">
    <option value="">Select a Verse</option>
  </select>
  <div>
    <br>
    {{versesGet.verseId}}  {{versesGet.reference}}<button type="submit" ng-click="addToMemArr(versesGet)">Add</button><button type="submit" ng-click="versesGet = {verseid:'not in list', reference: ''}">Reset</button>
    <br>
    <br>
      </div> -->
<!-- end of verse selection -->
<div class="container-fluid">
  <div class="navbar-header">
    <h4 class="navbar-text navbar-left">Enter Text</h4>
    <form class="navbar-form navbar-left">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Topic" ng-model="typeVerse.topic">
      </div>
      <input type="text" class="form-control" placeholder="Type in your Text..." ng-model="typeVerse.reference">

      <button type="submit" class="btn btn-default" ng-click="typeToMemArr(typeVerse)">Add</button>
    </form>

    <p class="navbar-text navbar-right">

      Memorize: {{totalToMemorize()}} </p>
    <!-- <input type = "text" placeholder="Type in your Verse..." ng-model="typeVerse"><button type="submit" ng-click="typeToMemArr(typeVerse)">Add</button> -->
  </div>
</div>

<!-- end of navbar -->
<div>
  <br>
  <h4>Text Repository</h4>
  <div class="row">

      <div ng-repeat="myVerse in toMemorizeArr">
        <br>
        <div ng-hide="editorEnabled">
        <verse-list>

          <h5>{{myVerse.topic}} </h5>
          <!-- <p>
            Date Added: {{myVerse.date}}</p>
          <p> -->
            {{myVerse.reference}}</p>

    <!-- buttons -->

<div class="col-md-4 col-md-offset-9">

    <button type="submit" class="btn btn-default" ng-click="open(lg, $index, myVerse.reference)">Memorized</button>
    <button type="submit" class="btn btn-default" ng-click="toDeleteMem($index)">Delete</button>
    <button class="btn btn-default" ng-click="editorEnabled=!editorEnabled">Edit</button>
    </div>
    <div ng-show="editorEnabled">
      <input ng-model="myVerse.theTypeVerse.reference">
      <button ng-click="editorEnabled=!editorEnabled" class="btn btn-default">Done Editing</button>
    </div>
</verse-list>
</div>
    <!-- end of buttons -->
    </div>

  </div>

</div>
